@import "font_pacifico";
@import "font_fira_sans";
@import "font_monospace";

$font-family-sans-serif:    'Fira Sans Extra Condensed', "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace:     'Calling Code', Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:          $font-family-sans-serif;
$headings-font-family:      'Pacifico', sans-serif;
$font-size-base:            1.20rem;
$font-weight-normal:        300;
$font-weight-bold:          600;


$primary:                   #4A849F;
$secondary:                 #1B3440;
$color-3:                   #B4D6C6;
$color-4:                   #F5F1D5;
$color-5:                   #F2845C;
$bg-alt:                    #fefefe;
$grid-gutter-width:         55px;
$vertical-spacing:          60px;
$max-width-cover:           45em;
$max-width-fluid:           55em;
$headings-color:            #315869;

@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "grid";
@import "type";
@import "images";
@import "buttons";
@import "input-group";
@import "forms";
@import "utilities";


html {
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
body {
  min-height: 100%
}

header {
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: left;
  }

  & svg {
    @extend .img-fluid;
    margin-left: -9px;
    max-width: 16em;
  }
  margin-bottom: 2em;

  & .text-primary {
    color: $headings-color !important;
  }
}

@include media-breakpoint-up(md) {
  main:not(.landing) {
    margin-top: 10rem;
  }
}

@include media-breakpoint-down(sm) {
  .display-1 {
    font-size: 5rem;
  }

  .display-4 {
    font-size: 2.5rem;
  }
}


.list-inline-item:not(:last-child) {
    margin-right: 1rem;
    margin-bottom: 0.75rem;
}

.footer {
  @include media-breakpoint-down(sm) {
    background-color: $headings-color;
    box-shadow:
      inset 0px 2px 12px darken($headings-color, 5%),
      inset 0px -2px 12px darken($headings-color, 5%);

    & * {
      color: $bg-alt;
    }

    & a:hover {
      color: $bg-alt;
    }
  }
}

.footer-content {
  font-size: 0.9em;
  color: $primary;

  @include media-breakpoint-down(xs) {
    font-size: 0.6em;
  }
}

.footer-content {
    opacity: 0.50;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;

    &:hover {
        opacity: 1.0;
    }
    &:hover .heart {
        color: $red;
    }

    & .inline-svg {
        height: 1.15rem;
        width: 1.15rem;
        top: -0.15rem;
    }
}

.container-fluid {
    max-width: $max-width-fluid;
}

.cover-container {
    max-width: $max-width-cover;
}

blockquote {
  margin-bottom: $spacer;
  font-size: $blockquote-font-size;
  padding-left: 1rem;
  color: $primary;
  border-left: 2px solid $primary;
}

pre, p > code {
    background: lighten($primary, 52%);
    border-radius: $border-radius;
    border: 1px solid lighten($primary, 44%);
    font-size: 0.9rem;
    padding: $tooltip-padding-y/2 $tooltip-padding-x/2;
}

pre {
    padding: $tooltip-padding-y $tooltip-padding-x;
    text-overflow: ellipsis;
}

h1, h2, h3, h4, h5, h6 {
  hyphens: auto;
}

h1 a, h2 a, header a {
    &:hover{
        text-decoration: none;
    }
}

.inline-svg {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  top: -0.15rem;
  position: relative;
}

b, strong {
    font-weight: bold !important;
}

@import "isso_comments";
