<div class="px-3 col-md-5 col-lg-4 col-xl-3">
  <aside>
    <h5 class="mt-2 mb-3">Here</h5>
    <nav>
      <ul class="list-unstyled">
        {{ range .Site.Menus.main }}
          <li class="mb-2"><a href="{{ .URL | relURL }}" title="{{ .Title }}">{{ .Pre }} {{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
    <h5 class="mt-4 mb-3">Elsewhere</h5>
    <div>
      <ul class="list-unstyled">
        {{ range .Site.Menus.profiles }}
          <li class="mb-2"><a href="{{ .URL | relURL }}" title="{{ .Title }}">{{ .Pre }} {{ .Name }}</a></li>
        {{ end }}
      </ul>
    </div>
  </aside>
</div>