
<aside class="d-block d-md-none">
  <div class="row">
    <div class="col-6">
      <h5 class="">Here</h5>
      <nav>
        <ul class="list-unstyled">
          {{ range .Site.Menus.main }}
          {{ partial "sidebar_menu_li.html" . }}
          {{ end }}
        </ul>
      </nav>
    </div>
    <div class="col-6">
      <h5 class="">Elsewhere</h5>
      <ul class="list-unstyled">
        {{ range .Site.Menus.profiles }}
        {{ partial "sidebar_menu_li.html" . }}
        {{ end }}
      </ul>
    </div>
  </div>
</aside>
