{{ partial "head.html" . }}
<style>
  body, html { height: 100%; }
  body { display: flex; }
</style>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto"></header>
  <main class="landing py-5">
    <h1 class="display-1">{{ .Title }}</h1>
    <p class="display-4">{{ .Params.subtitle }}</p>

    <figure class="mx-auto my-5">
      <img class="img-fluid" alt="Miriam und Jan im Watt vor Wangerooge. Auch wenn wir die Nordsee vermissen werden, freuen wir uns auf das lebendige Berlin." src="/media/20170517-IMG_3374.jpg">
    </figure>

    <article>
      <h2 class="mt-5">Wir danken allen, die uns geholfen haben</h2>
      <div class="mt-3">
        {{ .Content }}
      </div>
    </article>

  </main>

  <footer class="mastfoot mt-auto d-flex justify-content-between pt-3 pb-2">
    <p class="mb-5">
      <a href="{{ .Site.BaseURL }}">Zu Jans Webseite zurückkehren</a>
    </p>
    <p class="mb-5">
      {{ partial "fontawesome.html" "copyright" }}
      {{ now.Year }}
      Jan Willhaus.
      <a href="/imprint/">Impressum</a>.
    </p>
  </footer>
</div>
</body>
</html>