{{ define "main" }}
<article lang="{{default .Site.LanguageCode .Params.language}}">
  <h1 class="mb-3">{{ safeHTML .Title }}</h1>
  {{ if and (or (eq .Type "blog") (.Params.show_date)) .Date }}
  <span class="text-muted">Published <time>{{ .Date.Format "2006-01-02" }}</time></span>
  {{ end }}
  <div class="mt-3">
    {{ .Content }}
  </div>
</article>
{{ if and (or (eq .Type "blog") (.Params.show_comments)) (not .Params.disable_comments) }}
  <div>
  {{ partial "comments.html" . }}
  </div>
{{ end }}
{{ end }}
